@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* TODO: Make separate utils and component files */

@layer utilities {
  .bg-grid {
    background-image:
      linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 0.5px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 0.5px); 
    background-size: 150px 150px;
  }

  .bg-storybook-gradient {
    background: linear-gradient(135deg, #313d51 0%, #557797 100%);
  }

  /* The scroll styles */
  .system-scroll {
    overflow-y: scroll;
    scrollbar-color: #1b1b1b transparent;
    scrollbar-width: 5px;
  }
}
